
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

:root {
  /* --bgCol: hsl(333, 100%, 44%);
  --bgColDark: hsl(333, 80%, 34%); */
  --bgCol: hsl(5, 86%, 52%);
  --bgColDark: hsl(5, 86%, 35%);
  --bgCol2: hsl(147, 50%, 61%);
  --bgCol2Dark: hsl(147, 41%, 52%);
  --textCol: white;

  --shadowCol:  hsla(5, 70%, 30%, 0.2);

  --todoBgCol: hsla(0, 0%, 100%, 0.3);
}
